{% for news in newses %}
    <div class="news-container">
        <div class="news-entry">
            <div class="news-thumbnail">
                <a href="">
                    <img src="" />
                </a>
            </div>
            <h1>
                {{ news.title }}
            </h1>
            <p>
                {{ news.introduction }}
            </p>
            <div class="news-summary">

            </div>
        </div>
    </div>
{% endfor %}
